/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
  --background: #fafbff;
  padding-bottom: 120px !important;
}
ion-toolbar {
  --background: #fafbff;
  --border-color: #fafbff;
  --min-height: 60px;
}
.footer-md:before {
  height: 0!important;
}
.footer-ios:before {
  height: 0!important;
}
ion-list {
  --background: #fafbff;
  --border-color: #fafbff;
}
ion-button {
  --background: #162860;
}
ion-back-button {
  --color: #162860;
}
ion-icon {
  color: #162860;
}
ion-menu-button {
  --color: #162860;
}


ion-input{
  --padding-top	: 0px!important;
  --padding-bottom : 0px!important;;
}

.white {
  color: white;
}
.jaune {
  color: #fdee76;
}
.blue-600 {
  color: #162860 !important;
}
.black {
  color: #000000;
}
.red {
  color: #eb445a;
}
.green {
  color: #2dd36f;
}
.text-bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.font-25 {
  font-size: 25px;
}
.font-20 {
  font-size: 20px;
}
.font-15 {
  font-size: 15px;
}
.font-10 {
  font-size: 10px;
}
